.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 90px 70px 92px 50px;
}

.header_logo-image {
  width: 148px;
  height: 105px;
}

.header_menu {
  display: flex;
  justify-content: left;
}

.header_links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
  font-size: 18px;
  font-weight: 400;
}

.header_links-item {
  text-underline-offset: 4px;
}

.header_links-item-main {
  list-style-type: none;
  text-decoration: none;
}

.address {
  font-style: normal;
  justify-self: end;
  font-size: 18px;
  line-height: 24.3px;
  font-family: "Raleway", sans-serif;
  text-underline-offset: 4.1px;
  list-style-type: none;
}
/* СЕКЦИЯ ОНО ТЕБЕ НАДО */
.cover {
  position: relative;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  text-transform: uppercase;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 757px;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
  width: 100%;
  height: 100%;
}

.cover_title {
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding-top: 165px;
  padding-right: 18px;
  padding-left: 50px;
  text-transform: uppercase;
  line-height: 115px;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 30px;
  color: white;
}

.aligned-text_left {
  display: inline-block;
  z-index: 1;
  text-align: left;
  align-self: flex-start;
}

.aligned-text_center {
  display: inline-block;
  z-index: 1;
  text-align: center;
  align-self: center;
}

.aligned-text_right {
  display: inline-block;
  z-index: 1;
  text-align: right;
  align-self: flex-end;
}

.cover_description {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  padding: 106px 50px 50px 50px;
  gap: 107px;
  text-align: justify;
}

.cover_description-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  word-spacing: 18px;
  gap: 79px;
  color: white;
  z-index: 1;
}

.bet-button {
  min-width: 256px;
  min-height: 51px;
  border: 1px solid white;
  background-color: transparent;
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  z-index: 1;
}
/* СЕКЦИЯ ЛОТЫ */

.lots_heading {
  font-size: 40px;
  font-weight: 700;
  line-height: 100%;
  color: black;
  text-transform: uppercase;
  padding-top: 180px;
  padding-bottom: 27px;
  padding-left: 64px;
}

.lots_card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  padding-left: 24px;
  margin: 0;
  gap: 25px;
}

.card-link {
  text-decoration: none;
}

.lots_card-list-item {
  width: 334px;
  min-height: 596px;
}

.card_title {
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  color: white;
  text-decoration-line: underline;
  text-transform: uppercase;
  z-index: 1;
}

.card_text {
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  color: white;
  font-style: normal;
  z-index: 1;
}

.card {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 48px 40px;
  justify-content: space-between;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.lots_look-more-link {
  display: inline-block;
  text-underline-offset: 4px;
  padding-top: 30px;
  color: black;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  margin-left: 64px;
}
/* СЕКЦИЯ ОБ АУКЦИОНЕ */
.about {
    margin-top: 60px;
    padding: 55px 24px 95px 0px;
}

.about_column {
  display: grid;
  grid-template-columns: 334px repeat(1, 1fr);
  gap: 13px;
  padding: 35px 5px 0px 0px;
}

.about_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  background-color: #000;
  border-radius: 50%;
  width: 240px;
  height: 240px;
}

.about_logo-image {
  width: 142px;
  height: 113px;
}

.about_column_content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 105px;
  padding-right: 24px;
  width: 100%;
  min-width: 693px;
}

.about_title {
  font-size: 40px;
  font-weight: 700;
  color: black;
  line-height: 47px;
  padding-bottom: 51px;
}

.about_text {
  align-self: flex-start;
  font-family: "Raleway", sans-serif;
  text-transform: none;
  color: black;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  max-width: 693px;
}

.text {
  padding-top: 25px;
}
/* ПОДВАЛ */
.footer {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: start;
  padding: 0px 50px 80px 50px;
  gap: 140px;
}

.footer_menu_links {
  list-style-type: none;
}

.footer_menu_links-item {
  color: black;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  text-underline-offset: 4px;
}

.footer_menu_links-item-main {
  text-decoration: none;
}

.footer_social-list {
  display: flex;
  gap: 48px;
  list-style-type: none;
}

.footer_social-icon {
  width: 48px;
  height: 48px;
}
